body {
    margin:0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none; /*le saca el subrayado a los elementos del tipo ancla (link)*/
    cursor: pointer ; /*hace que al pasar el mause por encima del elemento se ponga la manito*/
    
}
header {
    width: 100%; /*establece que el header ocupe el ancho total de la pantalla*/
    height: 60px; /*establece la altura fija del header*/
}
header nav {
    display: flex; 
    justify-content: flex-end; /*pìde que el contenido se valla al final*/
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a{
    margin-right: 10px;
    color:#000000;
}

nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

nav .nav-right-section img {
    border-radius: 50%; /*hace que se forme un circulo*/
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

main{
    margin-top: 250px;
    text-align: center;
}
main .main-logo{    
    margin:0 auto;
    margin-bottom: 35px;
}
main .main-logo img{
    height: 92px;
    width: 272px;
}
main .main-input {
    width: 530px;
    margin:0 auto;
    margin-bottom: 20px ;
}
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border:1px #dfe1e5  solid;
    display:flex;
    justify-content:center;
    align-items: center;
}
main .main-input input{
    width: 450px;
    height:40px;
    border: none;
    outline: none;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ8lTo0x3yPSnELbCChVteI6B6PmU9EWQJfg&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .micro-icon{
    background-image: url('https://www.pinclipart.com/picdir/middle/32-322562_open-google-microphone-icon-clipart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
main .main-buttons{
    width:530px;
    margin:0 auto;
    display: inline;
}
main .main-buttons div{
    display: inline;
}
main .main-buttons button {
    background-color: #f2f2f2;
    border: 0;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-right: 15px;
}
main .main-buttons button:hover {
    border:1px solid #c6c6c6;
    box-shadow: 0 1px 1px #20212447;
    color: #5f6368;
}
main p a .link{
    margin-right: 10px;
    color:#8ab4f8;
}

footer{
    width: 100%; /*establece que el header ocupe el ancho total de la pantalla*/
    height: 60px; /*establece la altura fija del header*/
    position: absolute; /* al declarar posision absoluta podemos definir el "margen de abajo" para que quede siempre al borde de la pantalla*/
    bottom: 0; /*establece el margen inferior en 0 para que el foter quede pegado abajo*/
    display:grid;
    grid-template-columns: 1fr 1fr; /*elegimos la cantidad de columnas o fracciones que tiene el grid*/ 
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;

}
footer ul {
    list-style: none;
    margin: 10px;
    display: flex; 
    padding-left: 0;
}
footer .footer-right {
    justify-self: right;
}

footer .footer-left {
    justify-self: left;
}
footer ul a{
    margin-right: 10px;
    color:#5f6368;
}